.flex {
  display: flex;
}

.content-SpaceBetween {
  justify-content: space-between;
}

.direction-Column {
  flex-direction: column;
}

.wrap-Wrap {
  flex-wrap: wrap;
}

.items-Center {
  align-items: center;
}

.content-Space-evenly {
  justify-content: space-evenly;
}

.content-Center {
  justify-content: center;
}