$colorVariant1: #4CBB17;
$colorVariant2: #444;
$colorVariant3: rgba(255, 255, 255, 0.60);
$colorVariant4: #FFF;
$colorVariant5: rgba(255, 255, 255, 0.80);
$colorVariant6: #373636;
$colorVariant7: #292929;
$colorVariant8: #F5F5F5;
$colorVariant9: #000;
$colorVariant10: #808080;
$colorVariant11: #F88508;
$colorVariant12: #443D64;
$colorVariant13: #F0F0F0;
$colorVariant14: #12db2c;
$colorVariant15: #d4190f;
$colorVariant16: #414042;